<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Willkommen zum Nicando Edi-Portal!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    <span th:text="'Willkommen ' + ${FirstName} + ' ' + ${LastName} + ','"></span>
</p>
<br>
<br>
<p>
    <span th:text="'Sie wurden zu dem Nicando Edi-Portal eingeladen.'"></span>
</p>
<p>
    <span th:text="'Ihr Nutzername ist: ' + ${UserName} + '.'"></span>
</p>
<br>
<p>
    <span th:text="'Bitte aktivieren Sie Ihren Account und erstellen Sie ein Passwort mit dem folgenden Link:'"></span>
</p>
<p>
    <a th:href="@{${ServerUrl} + '/registration/activation?token=' + ${VerificationToken}}"><span th:text="@{${ServerUrl} + '/registration/activation?token=' + ${VerificationToken}}"></span></a>
</p>
<p>
    <span th:text="'Bitte beachten Sie, dass dieses Token nur ' + ${ExpirationHours} + ' Stunden gültig ist.'"></span>
</p>

<br>
<p>
    <img src='cid:footer' alt="Abbino by Nicando"/>
</p>
<p>
    Viele Grüße, <br/>
    <em>Nicando Software GmbH</em>
</p>
</body>
</html>